/*　---------全体--------- */
body {
width: 960px;
margin:auto;
}
/*　---------全体--------- */



/*　---------作品タイトル--------- */
.title{
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
}

.title img{
    margin-bottom: 3px;
    margin-right: 7px;
}
/*　---------作品タイトル--------- */

/*　---------CSS書き換えないエリア--------- */
h1{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #3DB1A3;
    margin-top: 50px;
    margin-bottom: 10px;
}

.write{
    margin-top: 90px;
    margin-bottom: 70px;
}

.return{
    width: 960px;
    text-align:center;
    margin-bottom: 120px;
}
/*　---------CSS書き換えないエリア--------- */






























/*　---------ヘッダー--------- */
header {
display: flex;
height: 170px;
justify-content: space-between;
align-items: center;

}

.header ul {
display: flex;
list-style: none;
margin-right : 20px;
font-weight: 700;

}

.header li {
    border-bottom: 2px solid #3DB1A3;
}

nav ul {
  display: flex;
  gap: 30px; /* ここで間隔を調整 */
}

.header img {
width: 40px;
height: 40px;
margin-left: 40px;
}
/*　---------ヘッダー--------- */





































/*　---------フッター--------- */

.footer {
display: flex;
justify-content: space-between;
align-items: center;
padding-top:80px;
width: 960px;
}

.footer ul {
display: flex;
list-style: none;
margin-right : 20px;
color: white;
font-weight: 700;
}

.footer img {
height: 40px;
margin-left: 40px;
}

.footer li {
    border-bottom: 2px solid white;
}

.copyright {
    
align-items: center;
color: red;
}

.footer_wr{
background-color: #3DB1A3;
height: 300px;
text-align: center;

margin-right: calc(50% - 50vw);
margin-left: calc(50% - 50vw);

padding-right: calc(50vw - 50%);
padding-left: calc(50vw - 50%);
}

.footer_wr p{
    font-size: 8px;
    color: white;
    padding: 80px;
}
